<<<<<<< HEAD
=======
/*page*/
.builder_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.builder_navigation_container {
    display: flex;
    padding: 40px;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 20px;

    background-color: var(--text-color);
}

.builder_step_container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    padding: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.builder_select_step_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.builder_navigation_step_video_container {
    width: 100%;
}

.builder_navigation_step_video_container nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.builder_navigation_step_video_container .nav_information {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.builder_navigation_step_video_container div {
}

.builder_navigation_step_video_container div .input-container {
    min-height: 300px;
}

.builder_navigation_step_video_container div .input-container .input {
    min-height: 300px;
}

/*exercise */

.builder_exercise_step_exercice {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.builder_exercise_step_exercice  .buttons_container{
    display: flex;
    gap: 30px;
}
.builder_exercise_step_exercice  .button_alert{
    width: max-content;
}

.builder_qcm_step_exercice .question_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.builder_qcm_step_exercice .question_container .question {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.builder_qcm_step_exercice .answer_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.builder_qcm_step_exercice .answer_container .answer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.builder_bind_list_step_exercice .bind_container{
    display: flex;
    gap: 20px;
}

@media screen and (min-width: 500px) {
    .builder_qcm_step_exercice .answer_container {
        grid-template-columns: 1fr 1fr;
    }

}
@media screen and (min-width: 800px) {
    .builder_container {
        flex-direction: row;
    }

    .builder_step_container {
        padding: 50px;
    }

}

@media screen and (min-width: 1111px) {
    .builder_select_step_nav {
        flex-direction: row;
    }

    .builder_qcm_step_exercice .answer_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .builder_navigation_step_video_container .nav_information {
        grid-template-columns: 1fr 2fr;
    }
}

/*kits*/
>>>>>>> dev
.builder_block_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;

    width: 250px;
    height: 150px;

    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 1.125rem;
}

.builder_block_button i {
    margin-top: -20px;
    font-size: 50px;
}
.builder_block_button-off {
    opacity: 50%;
    padding: 10px 20px;
    gap: 10px;
}

.builder_select_folder {
    position: relative;
    width: 100%;
}

.builder_select_folder .preview_container {
    position: relative;
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 50px;
    align-self: stretch;
    overflow: hidden;

    border-radius: 5px;
    border: 5px dashed var(--text-color);
    color: var(--text-color);
    transition: .3s ease-in-out;
    margin-bottom: 20px;
}

.builder_select_folder .preview_container i::before {
    width: 30px;
    height: 30px;
}

.builder_select_folder input {
    display: none;
}

.builder_select_folder .preview {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
<<<<<<< HEAD
=======
}


.builder_popup_select_video {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
    z-index: 1000;
}

.builder_popup_select_video #popup {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 30px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--text-color);
    border-radius: 8px;
}

.builder_popup_select_video #popup div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.builder_popup_select_video #popup i {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 20px;
    color: var(--secondary-color);
}

.builder_popup_select_video #popup i:hover {
    cursor: pointer;
}

@media screen and (min-width: 690px) {
    .builder_popup_select_video #popup {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 860px) {
    .builder_popup_select_video #popup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
    }
}

@media screen and (min-width: 1260px) {
    .builder_popup_select_video #popup {
        grid-template-columns: 1fr 1fr  1fr;
    }
>>>>>>> dev
}