.arrow-return {
    font-size: 1.2rem;
}

.header-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav > i {
    position: absolute;
    left: 0;
}

