.arrow-return {
    font-size: 1.2rem;
}

.header-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.header-nav > .return-button {
    position: absolute;
    left: 0;
}

