.input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 5px;

    background-color: var(--secondary-color);
    color: var(--text-color);
    outline: 0 solid var(--action-color);
}


::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    gap: 10px;

    background-color: var(--secondary-color);
    color: var(--text-color);

}

textarea {
    resize: none;
    height: 100%;
}

.input:focus {
    outline: transparent;
}


.input-container:focus-within {
    outline: 1px solid var(--action-color);
}

.placeholder {
    position: absolute;

    left: 20px;
    top: 10px;
    transform-origin: 0 50%;

    color: var(--text-color);
    transition: .2s;
    pointer-events: none;
}

.placeholder::before {
    position: absolute;
    content: '';
    left: -25%;
    bottom: 2px;

    width: 150%;
    height: 25px;
    border-radius: 1000px;

    background-color: transparent;
    outline: transparent;
    transition: .2s;
    z-index: -1;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-25px) translateX(10px) scale(0.75);
}

.input:focus ~ .placeholder {
    color: var(--action-color);
}

.input:focus ~ .placeholder::before {
    background-color: var(--secondary-color);
    outline: 1px solid var(--action-color);
}


.ri-eye-close-line:hover,  .ri-eye-2-line:hover {
    cursor: pointer;
}



/*checkbox style */
.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: .75rem;

    color: var(--action-color);
}
.checkbox:hover {
    cursor: pointer;
}
.checkbox input[type=checkbox], .checkbox input[type=radio] {
    display: none;
}

.checkbox p {
    width: max-content;
}

.check {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    overflow: hidden;

    width: 24px;
    height: 24px;
    border-radius: 5px;

    background-color: var(--text-color);
    transition: .3s ease-in-out;
}

.check svg {
    position: absolute;
    bottom: -50%;
    left: 50%;

    transform: translate(-50%, 50%);
    transition: .2s ease-in-out;

}


input:checked + .check {
    background-color: var(--action-color);
}
input:checked + .check svg {
    bottom: 50%;
}

.input-container #select_container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.input-container .select_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.input-container .select_button input, .option input{
    display: none;
}

.input-container .options {
    position: absolute;
    top: 110%;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 200px;
    border-radius: 10px;


    background-color: var(--secondary-color);

    z-index: 1;
    overflow: hidden;
}
.input-container .options::-webkit-scrollbar-track, .options::-webkit-scrollbar{
    /*display: none;*/
    border-radius: 100px;
    background: transparent;
    box-shadow: none;
}

.input-container .option {
    position: relative;
    width: 100%;
    height: 0;
    background-color: var(--secondary-color);
    padding: 0 20px;
    opacity: 0;
    transition: .3s ease-in-out;
}

.input-container .option:hover {
    cursor: pointer;
    background-color: var(--action-color);
    color: var(--secondary-color);
}

.input-container .options-visible {
    overflow-y: scroll;
}
.input-container .option-visible {
    opacity: 100%;
    height: 100%;
    padding: 10px 20px;
}



.Selct_image_contaienr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.select_image_container {
    width: 100px;
    height: 100px;
}
.select_image_container .drop_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 100%;
    height: 100%;

    border-radius: 8px;
    color: var(--secondary-color);
    background-color: var(--text-color);
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.select_image_container .drop_container input {
    display: none;
}
.select_image_container .drop_container i::before {
    width: 30px;
    height: 30px;
}

.select_image_container .drop_container:hover {
    background-color: var(--action-color);
    cursor: pointer;
}

.select_image_container .drop_container img {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
}


.color_picker {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.color_picker:hover {
    cursor: pointer;
}
.color_picker input:hover {
    cursor: pointer;
}
.color_picker i {
    height: 100%;
}
.color_picker input {
    width: 100%;
    height: 50px;
    border: none;
    box-shadow: none;
    border-radius: 8px;
    overflow: hidden;
    background-color: transparent;

}