.professor-infos_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.profile-pic {
    height: 205px;
    min-height: 205px;
    overflow: hidden;
}

.profile-pic > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.professor-reward {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

.professor-reward > p {
    padding-left: 10px;
}

.professor-reward > i {
    font-size: 1.5rem;
}