.section_instrument_container {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
	background-color: #121525;
	padding-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.secion_instrument_list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 20px;
	column-gap: 55px;
	margin: 0 auto;
}

.secion_instrument_list_item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.secion_instrument_list_item p {
	margin-top: 25px;
	justify-content: center;
	display: flex;
}

.section_instrument_container h2 {
	margin-bottom: 40px;
	text-align: center;
}

.secion_instrument_list svg {
	height: 80px;
}

@media (min-width: 768px) {
	.secion_instrument_list {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 900px) {
	.secion_instrument_list {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (min-width: 1080px) {
	.secion_instrument_list {
		grid-template-columns: repeat(6, 1fr);
	}
}