.custom_select {
	color: #121525;
	font-size: 12px;
	font-weight: 600;
	gap: 10px;
	display: flex;
	cursor: pointer;
	padding: 10px;
	align-items: baseline;
	line-height: 1;
}


.custom_select_container {
	position: relative;
}

.custom_select.open svg {
	transform: rotate(180deg);
}

.custom_select svg {
	transition: transform 0.3s ease;
}

.custom_select_container .options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
	background-color: #fff;
	z-index: 1;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.custom_select_container .option {
	padding: 10px;
	cursor: pointer;
	font-size: 12px;
	color: #121525;
	font-weight: 600;
}

.custom_select_container .option:hover {
	background-color: #f4f4f4;
}

.custom_select.open {
	border-bottom: 2px solid #f4f4f4;
}

.custom_select.open + .options {
	opacity: 1;
}

.custom_select_container .option:not(:last-child) {
	border-bottom: 2px solid #f4f4f4;
}

.custom_select_container .option:hover {
	background-color: #f2f2f2;
}

.custom_select_container .selected_ption{
	width: 40px;
}
