:root {
    --main-color: #161C3D;
    --secondary-color: #121525;
    --text-color: #FFFFFF;
    --action-color: #E5DF52;
    --action-hover-color: #E5AA52;
    --alert-color: #900000;
    --success-color: #68FF50;
}
header {
    z-index: 1000;
}
.max_width_container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    min-height: 80vh;
}
.max_width {
    width: 100%;
    max-width: 800px;
    align-content: center;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--secondary-color);
}

::-webkit-scrollbar
{
    width: 6px;
    background-color: var(--secondary-color);
}

::-webkit-scrollbar-thumb
{
    background-color: var(--action-color);
    border-radius: 1000px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(18, 21, 37, 0.3);
}

/* Title style */
h1 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

h2 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

h3 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Link style*/

a:hover {
    cursor: pointer;
}

.sub_link {
    font-size: .75rem;
    color: var(--action-color);
}

/*status style,  description status */
.status_color {
    display: block;
    border-radius: 4px;
    height: 15px;
    width: 15px;
}
.status_color-yellow {
    background-color: var(--action-color);
}
.status_color-green {
    background-color: var(--success-color);
}
.status_color-red {
    background-color: var(--alert-color);
}


/* label and category style */
.label {
    display:inline-block;
    padding: 5px 50px;

    border-radius: 1000px;

    outline: var(--action-color) solid 1px;
}

.category {
    display:inline-block;
    padding: 5px 10px;
    font-size: .75rem;

    border-radius: 1000px;

    background-color: var(--text-color);
    color: var(--secondary-color);
}
/*Button style */
.button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 5px;

    background-color: var(--action-color);
    color: var(--secondary-color);
    transition: .3s ease-in-out;
}

.button::before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;

    width: 0;
    height: 100%;
    border-radius: 5px;
    outline: transparent solid 0;

    z-index: -1;
    transition: .4s ease-in-out;
}

.button:hover {
    cursor: pointer;
    /*background-color: var(--main-color);*/
    background-color: var(--secondary-color);
    color: var(--action-color);
}

.button:hover::before {
    left: 0;
    width: 100%;
    outline: var(--action-color) solid 2px;
}

.button_dark {
    background-color: var(--secondary-color);
    color: var(--action-color);
}

.button_alert {
    background-color: var(--alert-color);
    color: var(--text-color);
}

/*header for page inter section */
.header_section_page {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--secondary-color);
    padding: 20px;
}

.header_section_page nav {
    width: auto;
    font-size: 20px;
}
.header_section_page div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form style */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    gap: 20px;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/*Slider button*/

.switch {
    position: relative;
    display: inline-block;

    width: 60px;
    height: 30px;
}
.switch input {
    display: none;
}

.switch .slider {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-radius: 1000px;

    background-color: var(--text-color);
    transition: .3s ease-in-out;
}

.switch .slider::after {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);

    content: "";
    width: 20px;
    height: 20px;
    border-radius: 1000px;

    background-color: var(--main-color);
    transition: .3s ease-in-out;
    animation: slidingReverse .3s ease-in-out forwards;
}

.switch input:checked + .slider {
    background-color: var(--action-color);
}

.switch input:checked + .slider::after {
    background-color: var(--main-color);
    animation: sliding .3s ease-in-out forwards;
}

@keyframes sliding {
    0% {
        width: 20px;
        left: 10px;
    }
    50% {
        width: 40px;
        left: 10px;
    }
    100% {
        width: 20px;
        left: 30px;
    }
}

@keyframes slidingReverse {
    0% {
        width: 20px;
        right: 10px;
    }
    50% {
        width: 40px;
        right: 10px;
    }
    100% {
        width: 20px;
        right: 30px;
    }
}


/*backoffice style*/
.backoffice_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

/*formulaire de création*/
.builder_creation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%;
}
.builder_creation .select_image_container {
    width: 100%;
}
.builder_creation textarea {
    height: 300px;
}